[Unit]
Description=Cadence Agent Service
After=network.target

[Service]
Type=simple
User=__USER__
Group=__GROUP__
ExecStart="__BINARY_PATH__" --config "__CONFIG_PATH__"
WorkingDirectory=__ROOT_DIR__
Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=agentd

[Install]
WantedBy=multi-user.target
